body {
  margin: 0;
}

h1, h2 {
  position: relative;
  width: 100%;
}

h1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 100vh); /* 让 ::before 区域的高度为 h1 上方的区域 */
  background-color: #98FB98;
}

h2 {
  height: 100vh;
}
